/* CSS for fancy title */
svg#title {
  font-size: 9.2em;
  width: 100%;
  text-transform: uppercase;
}

.text {
  fill: none;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #92FFDF;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #6998A5;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #FFFFFF;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #CEE8FF;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: orange;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
/*css for profile animation*/
.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes triangle {
  0% { -webkit-transform: rotate(0deg);}
  10% { -webkit-transform: rotate(360deg);}
  100% { -webkit-transform: rotate(360deg);}
}
@keyframes triangle {
  0% { transform: rotate(0deg);}
  10% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
object#triangle {
  -webkit-animation-name: triangle;
  -webkit-animation-duration: 15s;
  animation-name: triangle;
  animation-duration: 15s;
}
@-webkit-keyframes bball {
  10% { top: 0px;}
  12% { top: -20px;}
  14% { top: 0px;}
  16% { top: -20px;}
  18% { top: 0px;}
  20% { top: -20px;}
  22% { top: 0px;}
}
@keyframes bball {
  10% { top: 0px;}
  12% { top: -20px;}
  14% { top: 0px;}
  16% { top: -20px;}
  18% { top: 0px;}
  20% { top: -20px;}
  22% { top: 0px;}
}
object#bball {
  -webkit-animation-name: bball;
  -webkit-animation-duration: 15s;
  animation-name: bball;
  animation-duration: 15s;
}
@-webkit-keyframes spawn {
  22% { -webkit-transform: scale(1);}
  28% { -webkit-transform: scale(1.2);}
  34% { -webkit-transform: scale(1);}
}
@keyframes spawn {
  22% { transform: scale(1);}
  28% { transform: scale(1.2);}
  34% { transform: scale(1);}
}
object#spawn{
  -webkit-animation-name: spawn;
  -webkit-animation-duration: 15s;
  animation-name: spawn;
  animation-duration: 15s;
}
@-webkit-keyframes tv {
  34% { left: 0px;}
  39% { left: -200px;}
  45% { left: 0px;}
}
@keyframes tv {
  34% { left: 0px;}
  39% { left: -200px;}
  45% { left: 0px;}
}
object#tv {
  -webkit-animation-name: tv;
  -webkit-animation-duration: 15s;
  animation-name: tv;
  animation-duration: 15s;
}
@-webkit-keyframes raiden {
  45% { -webkit-transform: translate(0) rotate(0deg); }
  46% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  47% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  48% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  49% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  51% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  52% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  53% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  54% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  55% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
  56% { -webkit-transform: translate(0) rotate(0); }
}
@keyframes raiden {
  45% { transform: translate(0) rotate(0deg); }
  46% { transform: translate(-1px, -2px) rotate(-1deg); }
  47% { transform: translate(-3px, 0px) rotate(1deg); }
  48% { transform: translate(0px, 2px) rotate(0deg); }
  49% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  51% { transform: translate(-3px, 1px) rotate(0deg); }
  52% { transform: translate(2px, 1px) rotate(-1deg); }
  53% { transform: translate(-1px, -1px) rotate(1deg); }
  54% { transform: translate(2px, 2px) rotate(0deg); }
  55% { transform: translate(1px, -2px) rotate(-1deg); }
  56% { transform: translate(0) rotate(0); }
}
object#raiden {
  -webkit-animation-name: raiden;
  -webkit-animation-duration: 15s;
  animation-name: raiden;
  animation-duration: 15s;
}
@-webkit-keyframes wolverine {
  56% { opacity: 1;}
  60% { opacity: 0;}
  66% { opacity: 1;}
}
@keyframes wolverine {
  56% { opacity: 1;}
  60% { opacity: 0;}
  66% { opacity: 1;}
}
object#wolverine{
  -webkit-animation-name: wolverine;
  -webkit-animation-duration: 15s;
  animation-name: wolverine;
  animation-duration: 15s;
}
@-webkit-keyframes torch {
  66% { top: 0; left: 0;}
  69% { top: -100px;}
  71% { left: 50px;}
  73% { top: 200px;}
  75% { left: 0;}
  78% { top: 0;}
}
@keyframes torch {
  66% { top: 0; left: 0;}
  69% { top: -100px;}
  71% { left: 50px;}
  73% { top: 200px;}
  75% { left: 0;}
  78% { top: 0;}
}
object#torch{
  -webkit-animation-name: torch;
  -webkit-animation-duration: 15s;
  animation-name: torch;
  animation-duration: 15s;
}
@-webkit-keyframes pizza  {
  78% { -webkit-transform: skew(0);}
  83% { -webkit-transform: skew(20deg, 40deg);}
  89% { -webkit-transform: skew(0);}
}
@keyframes pizza  {
  78% { transform: skew(0);}
  83% { transform: skew(20deg, 40deg);}
  89% { transform: skew(0);}
}
object#pizza {
  -webkit-animation-name: pizza;
  -webkit-animation-duration: 15s;
  animation-name: pizza;
  animation-duration: 15s;
}
@-webkit-keyframes mike  {
  89% { top: 0; left: 0;}
  91% { top: 2000px;}
  92% { left: -500px;}
  93% { top: -2000px;}
  94% { left: 0;}
  100% { top: 0;}
}
@keyframes mike  {
  89% { top: 0; left: 0;}
  91% { top: 2000px;}
  92% { left: -500px;}
  93% { top: -2000px;}
  94% { left: 0;}
  100% { top: 0;}
}
object#mike {
  -webkit-animation-name: mike;
  -webkit-animation-duration: 15s;
  animation-name: mike;
  animation-duration: 15s;
}