/* Media Query for small screens */
@media (max-height: 500px) {
  body {
    font-size: 12px;
  }
  p {
    font-size: .9em;
  }
  button {
    font-size: .8em;
    padding: 7.5px 20px;
  }
}
@media (max-width: 650px) {
  body {
    font-size: 12px;
  }
  section#title p {
    line-height: 18px;
  }
  button {
    font-size: .8em;
    padding: 7.5px 20px;
  }
  div#right {
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: #6888A5;
  }
  div#left {
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: #6888A5;
  }
  div#textholder {
  height: 80%;
  margin: 15vh 5%;
  }
  div#profile{
  height: 90%;
  margin: 5%;
  }
  section#footer h1 {
  position: relative;
  top: 12px;
  font-size: .6em;
  padding: 3vh 10% 1vh 10%;
  }

}
/* Media Query for iphone 6+ and lower */
@media (max-device-width: 736px) {
  body {
    font-size: 14px;
  }
  section#title p {
    font-size: 25px;
    line-height: 40px;
  }
  p {
    font-size: 25px;
  }
  button {
    font-size: 1.2em;
    padding: 7.5px 20px;
  }
  div#right {
    height: 80%;
    width: 100%;
    display: inline-block;
    background-color: #6888A5;
  }
  div#left {
    height: 80%;
    width: 100%;
    display: inline-block;
    background-color: #6888A5;
  }
  div#textholder {
  height: 80%;
  margin: 10vh 5%;
  }
  div#profile{
  height: 90%;
  margin: 5%;
  }
  section#footer h1 {
  position: relative;
  top: 20px;
  font-size: .6em;
  padding: 3vh 10% 1vh 10%;
  } 
  section#footer img {
  height: 6vh;
  margin: 0 2vw;
  }
}
/* Queries for ipads and Tablets */
@media (max-device-width: 768px) {
  body {
    font-size: 15px;
  }
  section#title p {
    font-size: 25px;
    line-height: 40px;
  }
  p {
    font-size: 25px;
  }
   div#right {
    height: 85%;
    width: 100%;
    display: inline-block;
    background-color: #6888A5;
  }
  div#left {
    height: 85%;
    width: 100%;
    display: inline-block;
    background-color: #6888A5;
  }
  div#textholder {
  height: 90%;
  margin:  5%;
  }
  section#footer h1 {
  position: relative;
  top: 20px;
  font-size: .6em;
  padding: 3vh 10% 1vh 10%;
  } 
} 